/*Yes...these styles are awful!*/

body {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

input {
    margin-top: 20vh;
    margin-bottom: 3rem;
    width: 20rem;
    height: 3rem;
    font-size: large;
}

div {
    width: 80%;
    margin: 0 auto 2rem auto;
    border: 3px solid #d20062;
    border-radius: 1rem;
    font-size: x-large;
}

.saved-data {
    margin: 2rem auto 0 auto;
    border: 3px solid greenyellow;
    padding: 1rem;
}

.saved-data > div {
    width: initial;
    font-style: italic;
    border: 3px solid rebeccapurple;
    color: aquamarine;
}
