/*Yes...these styles are awful!*/

body {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

input {
    margin-top: 20vh;
    margin-bottom: 3rem;
    width: 20rem;
    height: 3rem;
    font-size: large;
}

div {
    width: 80%;
    margin: auto; 
    border: 3px solid goldenrod;
    color: goldenrod;
    font-size: x-large;
}
